.App {
  text-align: center;
}
.form-input{
  height: 30px;
  border-radius: 6%;
  font-size: large;
}
ul{
  display: flex;
  flex-direction: column;
}
.edit-input{
  border-radius: 6%;
  height: 30px;
  font-size: large;
}
.buttons{
  display: flex;
  margin: 0px 5px;
}
button{
  height: 35px;
  background-color: lightslategray;
  border-radius: 6%;
  border: none;
  color: white;
  font-size: large;
  margin: 0px 5px;
}
ul li{
  display: flex;
  font-size: large;
  list-style: none;
}